.title {
  font-style: bold;
  font-size: 30px;
  font-weight: 200;
  align-items: center;
  color: blue;
}

.subtitle {
  font-size: 22px;
  font-style: semi-bold;
  text-decoration-line: underline;
  color: cyan;
}

.description {
  font-size: 14px;
  color: black;
  font-style: italic;
}
